<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
  
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="images//favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images//apple-touch-icon-114x114-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images//apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="images//apple-touch-icon-57x57-precomposed.png">

    <!-- Library Css -->
    <link rel="stylesheet" type="text/css" href="Content/lib.css">

    <!-- Font Icons -->
    <!--link rel="stylesheet" type="text/css" href="libraries/fonts/open-iconic-bootstrap.min.css"-->
    <!-- Custom - Common CSS -->
    <link rel="stylesheet" type="text/css" href="Content/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="Content/navigation-menu.css">

    <!-- Custom - Theme CSS -->
    <link rel="stylesheet" type="text/css" href="Content/style.css">
    <link rel="stylesheet" type="text/css" href="Content/shortcodes.css">

    <!--[if lt IE 9]>
        <script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
   <header class="header-main container-fluid no-padding">
        <!-- Top Header  -->
        <div class="top-header container-fluid no-padding">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-6 social">

                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 logo-block">
                        <a href="index.html" title="Logo"><img src="images/logo.png" alt="Logo"></a>
                    </div>
                </div>
            </div>
        </div><!-- Top Header /- -->
        <!-- Menu Block -->
        <div class="menu-block container-fluid no-pdding">
            <!-- Container -->
            <div class="container">
                <!-- Search Box -->
                <div class="search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Here . . . ">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- Search Box /- -->
                <!-- Navigation -->
                <nav class="navbar ow-navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html" title="Logo">Bovile</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html" title="Home">Home</a></li>
                            <li><a href="2-about.html" title="About Us">About Us</a></li>
                            <li><a href="3-services.html" title="Services">Services</a></li>
                            <li class="dropdown">
                                <a href="#" title="Pages" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                                <i class="ddl-switch fa fa-angle-down"></i>
                                <ul class="dropdown-menu">
                                    <li><a href="4-gallery.html" title="Gallery">Gallery</a></li>
                                    <li><a href="6-pricing.html" title="Pricing">Pricing</a></li>
                                    <li><a href="7-faq.html" title="Faq">FAQ</a></li>
                                    <li><a href="10-404.html" title="404">404</a></li>
                                </ul>
                            </li>
                            <li><a href="#" title="Our Team">Shop</a></li>
                            <li class="dropdown">
                                <a href="8-blog.html" title="Latest News" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Latest News</a>
                                <i class="ddl-switch fa fa-angle-down"></i>
                                <ul class="dropdown-menu">
                                    <li><a href="8-blog.html" title="Blog">Blog</a></li>
                                    <li><a href="9-blog-post.html" title="Single Post">Single</a></li>
                                </ul>
                            </li>
                            <li><a href="11-contact-us.html" title="Contact Us">Contact Us</a></li>
                        </ul>
                    </div>
                </nav><!-- Navigation -->
            </div><!-- Container /- -->
        </div><!-- Menu Block /- -->
    </header><!-- Header /- -->
   
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
